body {
    background-color: #CCCCCC
}

header.container {
    margin-top: 50px;
}

main.container {
    margin-top: 50px; 
    background-color: #EFEFEF;
    border-radius: 12px;   
    padding: 25px;

}

main.container section{
    padding: 0 30px;
}

main.container section h2 {
    margin-bottom: 18px;

}

main.container section form .btn{
    margin: 10px 0;
}


footer.container {
    margin-top: 30px;
    text-align: center;
}