body {
    background-color: #CCCCCC
}

h1{
    margin: 30px 5px ;
}
h1 a{
    text-decoration: none;
    color: #212529;
}
.error{
    color: #89002B;
}

input:invalid {
  border: 2px dashed red;
}

header.container {
    margin-top: 50px;
}

main.container {
    margin-top: 30px; 
    background-color: #EFEFEF;
    border-radius: 12px;  
    border: 1px solid #2B2D30; 
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main.container .row{
    width: 100%;
}

main.container .card {
    text-align: center;
    max-width: 15rem;    
}

main.container .card img {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;

}


main.container section{
    padding: 0 30px;
}

main.container section h2 {
    margin-bottom: 18px;
}

main.container section .list-group{
    border-radius: 12px; 
    border: 1px solid #AAB1BD; 
}

main.container section form .btn{
    margin: 10px 0;    
}

main.container section .btn-danger{
    padding: 2px 4px;
    font-size: 16px;
    font-weight: bolder;
    margin-right: 20px;
}

footer.container {
    margin-top: 30px;
    text-align: center;
}