body {
    background-color: #CCCCCC
}

h1{
    margin: 30px 5px ;
}
h1 a{
    text-decoration: none;
    color: #212529;
}

header.container {
    margin-top: 50px;
}

main.container {
    margin-top: 30px; 
    background-color: #EFEFEF;
    border-radius: 12px;   
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main.container .card {
    text-align: center;
    max-width: 15rem;    
}

main.container .card img {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;

}


main.container section{
    padding: 0 30px;
}

main.container section h2 {
    margin-bottom: 18px;

}

main.container section form .btn{
    margin: 10px 0;    
}


footer.container {
    margin-top: 30px;
    text-align: center;
}